
.top {
    padding: 26px 24px 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs {
    margin: 12px 24px 0px 24px;
    display: flex;
    align-items: center;
}