.sidebar {
    width: 208px;
    height: 672px;
    background: #fff;
    margin-top: 1px;
    padding: 32px 12px;
}

.list__item {
    background: #F5F6FA;
    border-radius: 8px;
    padding: 8px 16px;
}
.list__item__link{
    display: flex;
    align-items: center;
}

.list__item__logo {
    width: 24px;
    margin-right: 8px;
}